<h2>this is the bar list route</h2>
<div class="search">
	
    <p>please input your location</p>	
	{{input type="text" id="bsear"value=barsearch}}
	<button {{action "sendSearch" }}>search for bars!</button>
</div>
<div class="results">
	{{#each model as |result|}}
	
	 <p>{{result.name}}</p>
	 <p>{{result.snippet_text}}</p>
     <img src="{{result.Image_url}}">
     <button>add</button> //this will be fixed up later
	{{/each}}

</div>
