<h2>this is the bar list route</h2>
<div class="search">
	<!-- must add so enter works on input box  -->
    <p>please input your location</p>	
	{{input type="text" id="bsear"value=barsearch}}
	<button {{action "sendSearch" }}>search for bars!</button>
</div>
<div class="results">
	{{#each model as |result|}}
	
	 <p>{{result.name}}</p>
	 <p>{{result.snippet_text}}</p>
     <img src="{{result.image_url}}">
     <a href="/twitterAuth" class="btn"> add </a><!-- for now its just a twitter auth link logic will come later to show logged in or not 
     if logged in will increment attendance for this bar -->
	{{/each}}

</div>
